dbConfig{
    com.venkat.jaas.db.DBLoginModule required
    dbDriver="com.mysql.jdbc.Driver"
    dbURL="jdbc:mysql://localhost/test"
       dbUser="root"
       dbPassword=""
       userQuery="select username from table_user where table_user.username=? and table_user.password=?"
       roleQuery="select table_user_role.rolename from table_user, table_user_role "
                 + "where table_user.username=table_user_role.username and table_user.username=?"
       debug=true;

}