MyLoginContext {
    com.sun.security.auth.module.KeyStoreLoginModule REQUISITE debug=true
    keyStoreAlias="myKey"
    keyStoreURL="file:/app-client.keystore"
    keyStorePasswordURL="file:/app-client.passwd";
    //the key alias is 'mykey'
    //the keystore password is 'changeit'
    //the private key password is 'password'
};